<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./images/watch-1.jpg" alt="Watch 1" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./images/watch-2.jpg" alt="Watch 2" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./images/watch-3.jpg" alt="Watch 3" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./images/watch-4.jpg" alt="Watch 4" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./images/watch-5.jpg" alt="Watch 5" width="436" height="255" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
